@use "../utils/mixins" as *;

:root{
    --container-padding: 1.5rem;

    @include after-in(sm) {
        --container-padding: 3rem;
    }

    @include after-in(md) {
        --container-padding: 4rem;
    }

    @include after-in(lg) {
        --container-padding: 5.5rem;
    }
}

body{
    --currIndex: 0;
}

.container {
    
    &__main{
        height: 100%;

        display: flex;
        justify-content: flex-end;

        flex-direction: row;
    }
}

.section{
    $width: 2.8rem;
    $margin: 0.6rem;
    $sections: 4;

    --duration: 0.8s;
    --delay: 0s;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: $width;
    margin-right: $margin;
    padding-top: 24.4vh;

    &:first-child{
        margin-left: $margin;
    }

    overflow: hidden;
    text-align: center;
    transition: var(--duration) all var(--delay) ease-in-out;

    &::after{
        content: "";
        position: absolute;
        top: 21.9vh;
        left: 0;

        height: 55vh;
        width: 0.08em;
        background-color: var(--detail-color);
        transition: var(--duration) all var(--delay) ease-in-out;
    }
    
    &.active{
        margin-right: calc((var(--room) * -1) * (#{$width} + #{$margin}) + #{$margin});
        flex-grow: 1;
        transition: var(--duration) all var(--delay) ease-in-out;

        &::after{
            opacity: 0;
            visibility: hidden;
        }

        .section__content{
            opacity: 1;
            visibility: visible;
        }
        .section__main-img{
            pointer-events: none;
        }
        .section__title{
            opacity: 0;
            visibility: hidden;
        }
        .background{
            opacity: 0.36;
            visibility: visible;
        }
        .btn__section{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__text{
        margin-bottom: var(--margin-s);
        color: var(--detail-color);
        font-family: sans-serif;
    }

    &__paragraph{
        margin-bottom: var(--margin-s);
    }

    &__main-img{
        width: max-content;
        height: 50vh;
        max-width: 50vw;
        aspect-ratio: 16/9;
        margin-bottom: var(--margin-s);

        transform-origin: 50% 50% 0px;

        position: relative;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        overflow: hidden;
        cursor: pointer;

        img{
            pointer-events: none;
            width: auto;
            height: 100%;
        }
    }

    &__title{
        position: relative;
        width: 50vh;
        min-width: 300px;
        max-width: 50vw;
        max-height: 50vh;

        position: absolute;
        top: 45.4vh;
        left: 50%;
        transform: translate(-50%, 0) rotate(-90deg);

        cursor: pointer;
        transition: calc(var(--duration) * 0.7) all calc(var(--delay) / 2) ease-in-out;
        
        .title{
            white-space:nowrap;
            font-size: clamp(16px, 1.4rem, 1.4rem);
            user-select: none;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: max-content;
        max-width: 75vh;

        transition: var(--duration) all var(--delay) ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    &__projects{
        align-items: flex-start;

        .background{
            font-size: 24vw;
        }
    }
}

.text {
    margin: var(--margin-s) 0 var(--margin-s) 0;
}
