.btn{
    text-decoration: none;
    color: inherit;

    &__section{
        position: relative;
        padding: clamp(6px,0.6rem,0.6rem) clamp(16px,1.2rem,1.2rem);

        opacity: 0;
        visibility: hidden;

        transition: all 0.64s ease-in-out;
        transform: translateY(4.8rem);

        &::before{
            content: "";
            position: absolute;

            top: 0.1em;
            left: 0;
            height: 100%;
            width: 100%;

            border: 0.1em solid var(--black);
        }
    }
}