<!DOCTYPE html>
<html lang="fr">

<head>
    <title>DWMA project</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./styles/main.css">

    <meta name="title" content="" />
    <meta name="description" content="" />
</head>

<body>
    <div class="main-wrapper">
        <header>
            <span>Das header</span>
        </header>
        <main>
            <div class="container">
                <h1 class="title">Hello world</h1>
                <div class="example"></div>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugit blanditiis sed
                    nemo enim
                    doloremque impedit aliquam sunt veniam autem. Delectus sapiente recusandae provident maiores dolorum
                    aliquid.
                    Eos, quaerat assumenda.</p>
            </div>
        </main>
        <footer>
            <span>Das footer</span>
        </footer>
    </div>

    <script type="module" src="scripts/app.js"></script>
</body>

</html>
