<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Reaklab Prototype</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="./styles/main.css" />

        <meta name="title" content="" />
        <meta name="description" content="" />
    </head>

    <body>
        <div class="main-wrapper">
            <header>
                <nav class="nav">
                    <h1 class="title title__main">
                        <span>Prototype Reaklab</span><span>Front-end</span>
                    </h1>
                    <div>
                        <button class="burger-menu">
                            <span></span>
                        </button>
                        <a class="logo" href="#">
                            <span>Reaklab Digital Agency</span>
                        </a>
                    </div>
                </nav>
            </header>

            <main class="container container__main">
                <section class="section">
                    <img src="" alt="" />
                    <h2 class="title title__section">
                        Reaklab is a small and badass agency
                    </h2>
                    <span
                        >Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.</span
                    >
                    <a href=""></a>
                </section>
            </main>
        </div>

        <script type="module" src="scripts/app.js"></script>
    </body>
</html>
