<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Reaklab Prototype</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preload" href="./styles/main.css" as="style" />

        <link rel="stylesheet" type="text/css" href="./styles/main.css" />

        <meta name="title" content="" />
        <meta name="description" content="" />
    </head>

    <body>
        <div class="main-wrapper">
            <header>
                <nav class="nav">
                    <h1 class="title title__main">
                        <span>Prototype Reaklab</span><span>Front-end</span>
                    </h1>
                    <div>
                        <button class="menu">
                            <span class="title">Menu</span>
                            <div class="menu__icon">
                                <span></span>
                            </div>
                        </button>
                        <a class="logo" href="#">
                            <span>Reaklab Digital Agency</span>
                        </a>
                    </div>
                </nav>
            </header>

            <main class="container container__main">
                <section class="section active" style="--room: 3; --index: 0">
                    <div class="section__main-img js-trigger">
                        <img src="./assets/images/rdm.jpg" alt="" />
                    </div>
                    <div class="section__content">
                        <h2 class="title title__section">
                            Reaklab is a small and badass agency
                        </h2>
                        <span class="section__text"
                            >Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit.</span
                        >
                        <a class="btn btn__section" href="">En savoir plus</a>
                    </div>
                    <div class="background">
                        <span>Reaklab is a small and badass agency</span>
                    </div>
                </section>
                <section class="section" style="--room: 1; --index: 1">
                    <div class="section__main-img js-trigger">
                        <img src="./assets/images/rdm2.jpg" alt="" />
                    </div>
                    <div class="section__content">
                        <h2 class="title title__section">
                            What about you? Let's find out!
                        </h2>
                        <span class="section__text"
                            >Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit.</span
                        >
                        <a class="btn btn__section" href="">En savoir plus</a>
                    </div>
                    <div class="background">
                        <span>What about you? Let's find out!</span>
                    </div>
                </section>
                <section class="section about" style="--room: -1; --index: 2">
                    <div class="section__title js-trigger">
                        <h2 class="title">À propos de Reaklab</h2>
                    </div>
                    <div class="section__content">
                        <p class="section__paragraph">
                            Vivamus sed justo ut elit placerat bibendum id vel
                            tellus. Nam ac pharetra elit. Vestibulum posuere,
                            urna quis condimentum sagittis, massa lacus euismod
                            quam, nec maximus lorem metus tempor nunc. Duis
                            vitae turpis felis. Integer gravida tincidunt
                            euismod. Nullam suscipit condimentum ultrices. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse quis elementum nibh.
                        </p>
                        <a class="btn btn__section" href="">En savoir plus</a>
                    </div>
                    <div class="background">
                        <span>À propos de Reaklab</span>
                    </div>
                </section>
                <section
                    class="section section__projects"
                    style="--room: -3; --index: 3"
                >
                    <h2 class="title title--left">
                        Découvrir une sélection de projets
                    </h2>
                    <ul class="projects js-trigger">
                        <li class="projects__el">
                            <div class="projects__img">
                                <img src="./assets/images/v1.jpg" alt="" />
                            </div>
                            <h3 class="title projects__title">
                                On aime le code et le design
                            </h3>
                            <span class="section__text">Lorem merol lorem</span>
                        </li>
                        <li class="projects__el">
                            <div class="projects__img">
                                <img src="./assets/images/v2.jpg" alt="" />
                            </div>
                            <h3 class="title projects__title">
                                On aime faire briller nos clients
                            </h3>
                            <span class="section__text">Lorem merol lorem</span>
                        </li>
                        <li class="projects__el">
                            <div class="projects__img">
                                <img src="./assets/images/v3.jpg" alt="" />
                            </div>
                            <h3 class="title projects__title">
                                On crée des expériences sur mesure pour nos
                                clients. Avec amour.
                            </h3>
                            <span class="section__text">Lorem merol lorem</span>
                        </li>
                    </ul>
                    <div class="background">
                        <span>Projets</span>
                    </div>
                </section>
            </main>
        </div>

        <script type="module" src="scripts/app.js"></script>
    </body>
</html>
