@use "mixins";

// VERTICAL SPACES
:root {
    // --margin-xs: 1rem;
    // --margin-s: 1.5rem;
    // --margin-ms: 3.5rem;
    // --margin-m: 5rem;
    // --margin-l: 10rem;
    // --margin-xl: 10rem;

    // @include mixins.after-in(sm) {
    //     --margin-xs: 1rem;
    //     --margin-s: 2rem;
    //     --margin-ms: 4rem;
    //     --margin-m: 6rem;
    //     --margin-l: 12.5rem;
    //     --margin-xl: 20rem;
    // }

    // @include mixins.after-in(lg) {
    //     --margin-xs: 1rem;
    //     --margin-s: 2.5rem;
    //     --margin-ms: 5.5rem;
    //     --margin-m: 7.5rem;
    //     --margin-l: 17.5rem;
    //     --margin-xl: 25rem;
    // }

    $base-margin: 16px;
    --margin-xs: clamp(#{$base-margin},1rem,1rem);
    --margin-s: clamp(calc(#{$base-margin}*1.6),1.6rem,1.6rem);
    --margin-m: clamp(calc(#{$base-margin}*6.4),6.4rem,6.4rem);
    --margin-l: clamp(calc(#{$base-margin}*12.8),12.8rem,12.8rem);
    --margin-xl: clamp(calc(#{$base-margin}*20),20rem,20rem);
}

html{
    --scrollbarWidth: 0px;
    --windowWidth:calc(100vw - var(--scrollbarWidth));
}