@use "mixins";

// VERTICAL SPACES
:root {
    $base-margin: 16px;
    --margin-xs: clamp(#{$base-margin},1rem,1rem);
    --margin-s: clamp(calc(#{$base-margin}*1.6),1.6rem,1.6rem);
    --margin-m: clamp(calc(#{$base-margin}*6.4),6.4rem,6.4rem);
    --margin-l: clamp(calc(#{$base-margin}*12.8),12.8rem,12.8rem);
    --margin-xl: clamp(calc(#{$base-margin}*20),20rem,20rem);
}

html{
    --scrollbarWidth: 0px;
    --windowWidth:calc(100vw - var(--scrollbarWidth));
}