// @import font from typekit,…
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

$font-text: Playfair Display,helvetica,arial,sans-serif;
$font-title: Playfair Display,helvetica,arial,sans-serif;

$weight-regular: 400;
$weight-bold: 600;

