// @import font from typekit,…
@import url("https://use.typekit.net/uhv3ofy.css");

$font-text: neue-haas-unica,helvetica,arial,sans-serif;
$font-title: neue-haas-unica,helvetica,arial,sans-serif;
$font-sc: neue-haas-unica,helvetica,arial,sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$weight-title: 600;

$weight-xtrabold: 800;
