@use "../utils/mixins" as *;
@use "fonts";

body,
html {
    font-size: 1.1111vw;
    @include font-smoothing;
}

body {
    font: {
        family: fonts.$font-text;
        weight: fonts.$weight-regular;
        size: clamp(16px, 1rem, 1rem);
        style: normal;
    }

    color: var(--font-color-b);
}

p{
    max-width: 45ch;
}

.title {
    font: {
        family: fonts.$font-title;
        weight: fonts.$weight-regular;
        size: clamp(20px, 2rem, 2rem);
    }

    letter-spacing: -0.02em;
    line-height: 1.12;

    &__main{
        span{
            display: block;
            font-size: clamp(20px, 1.4rem, 1.4rem);
            &:first-child{
                font-weight: fonts.$weight-bold;
            }
        }
    }
    &__section{
        margin-bottom: var(--margin-xs);
    }
}